#about-section {
    padding-top: 80px;
    max-width: 900px;
    justify-content: center;
    margin: auto;
}

#about-section > h2 {
    margin: auto;
    padding-top: 20px 5px;
}

#tech-list{
    /* list-style: none; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tech-spec{
    display: inherit;
    flex-direction: column;
}