#footer {
    /* display: flex;
    justify-content: center;
    background: darkslateblue;
    color: cornsilk;
    vertical-align: baseline; */
    color: orange;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    /* position: fixed; */
    bottom: 0;
    /* right: 50px; */
    height: 100px;
    width: auto;
    text-align: center;
}