#footer {
    color: rgba(218, 187, 132, 0.767);
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    height: 100px;
    width: auto;
    text-align: center;
}

#copyright{
    padding: none;
}


#icons {
    font-size: 2em;
    padding-bottom: 20px;
    justify-content: center;
}

#icons > a {
    color: inherit; 
    padding: 0 10px; 
}

.icon-link:hover{
    transform: scalex(1.1);
}