#footer {
    color: rgba(218, 187, 132, 0.767);
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    height: 100px;
    width: auto;
    text-align: center;
}

#icons {
    padding-bottom: 20px;
}