#homepage {
  background-image: url('./background.jpg');
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height:100vh;
  max-height: 100vh;
  min-width: 100vw;
  display: flex;
}
