body {
  overflow-x: hidden;
  color: #777;
  /* background-color:  */
  display: flex;
}

#homepage {
  background-image: url('./background.jpg');
  /* position: fixed; */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height:100vh;
  max-height: 100vh;
  min-width: 100vw;
  display: flex;
}

section {
  display: block;

}
